@model Obj_ViewModel 
@{
    ViewData["Title"] = "ListadoReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="listado-reserva" class="container text-center">
    <h1>Listado de reservas</h1><br><br>
    <table class="table">
        <thead>
            <tr>
                <th>Reserva #</th>
                <th>Lugar de Retiro</th>
                <th>Lugar de Devolucion</th>
                <th>Fecha y Hora de Retiro</th>
                <th>Fecha y Hora de Devolucion</th>
                <th>Fecha de Confirmacion</th>
                <th>Placa vehiculo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            
            @for (int i = 0; i < Model._lis_Pet_Reserva.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model._list_ubicaion[i].Ubicacion_ini</td>
                <td>@Model._list_ubicaion[i].ubicacion_fin</td>
                <td>Fecha : @Model._lis_Pet_Reserva[i].fecha_ini - Hora : @Model._lis_Pet_Reserva[i].hora_ini</td>
                <td>Fecha : @Model._lis_Pet_Reserva[i].fecha_fin - Hora : @Model._lis_Pet_Reserva[i].hora_fin</td>
                <td>@Model._list_reserva[i].acep_fecha</td>
                <td>@Model._list_vehiculos[i].num_placa</td>
                <td>
                    <form asp-action="Cancelar" asp-controller="ListadoReserva" method="post">

                    <button class="btn btn-danger" type="submit">Cancelar reserva</button>
                    <input type="hidden" value="@Model._list_vehiculos[i].num_placa" name="cancela" id="cancela">
                    </form>
                </td>
            </tr>
        }
            
        </tbody>
    </table>
    <button type="button" class="btn btn-primary btn-lg">Guardar</button>
</div>

