@model Obj_ViewModel
@{
    ViewData["Title"] = "MisReservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- realizar inner JOIN para mostara la el ligar de la consulta de REservas para admin y para usuarios-->
<div class="container text-center">
    <h1>Listado de reservas</h1><br><br>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Hora de Inicio</th>
            <th>Hora de Fin</th>
            <th>Fecha de Aceptación</th>
            <th>Número de Placa</th>
            <th>Acciones</th>
        </tr>
        @for (int i = 0; i < Model._lis_Pet_Reserva.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model._lis_Pet_Reserva[i].fecha_ini</td>
                <td>@Model._lis_Pet_Reserva[i].fecha_fin</td>
                <td>@Model._lis_Pet_Reserva[i].hora_ini</td>
                <td>@Model._lis_Pet_Reserva[i].hora_fin</td>
                <td>@Model._list_reserva[i].acep_fecha</td>
                <td>@Model._list_vehiculos[i].num_placa</td>
                <td>

                    <form asp-action="Cancelar" asp-controller="ListadoReserva" method="post">
                        <button class="btn btn-danger" type="submit">Cancelar reserva</button>
                        <input type="hidden" value="@Model._list_vehiculos[i].num_placa" name="cancela" id="cancela">
                    </form>
                </td>
            </tr>
        }
    </table>
    <a href="@Url.Action("reporte2", "Peticion")" class="btn-generar-pdf">Generar Excel</a>
    <a href="@Url.Action("peticion", "Peticion")" class="btn btn-primary btn-lg">Volver</a>

</div>
