@model Obj_View_Vehiculo
@{
    ViewData["Title"] = "RegistroVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="RegistroVehiculo" asp-asp-controller="RegistroVehiculo">
    <div id="registro-vehiculo" class="container text-center">
        <h1>Registro de vehículos</h1><br>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectCategoria"
                            aria-label="Floating label select example" onchange="enviarSeleccion_categoria()" required>
                            <option></option>
                            @foreach (var item in Model.ListaCategorias)
                            {

                                <option value="@item.id_categoria">@item.tipo_vehiculo</option>
                            }
                        </select>
                        <script>
                            function enviarSeleccion_categoria() {
                                var select = document.getElementById("floatingSelectCategoria");
                                var idSeleccionado = select.options[select.selectedIndex].value;
                                // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                                document.getElementById("id_categoria").value = idSeleccionado;
                                // Puedes enviar el formulario aquí si es necesario
                            }
                        </script>
                        <input type="hidden" id="id_categoria" name="id_categoria">
                        <label for="floatingSelectCategoria">Categoría</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectMarca" aria-label="Floating label select example"
                            onchange="enviarSeleccion_marca()" required>
                            <option></option>
                            @foreach (var item in Model.ListaMarca)
                            {

                                <option value="@item.id_marca">@item.nombre_marca</option>
                            }
                        </select>
                        <script>
                            function enviarSeleccion_marca() {
                                var select = document.getElementById("floatingSelectMarca");
                                var idSeleccionado = select.options[select.selectedIndex].value;
                                // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                                document.getElementById("id_marca").value = idSeleccionado;
                                // Puedes enviar el formulario aquí si es necesario
                            }
                        </script>
                        <input type="hidden" id="id_marca" name="id_marca">
                        <label for="floatingSelectMarca">Marca</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="modelo" id="modelo"
                        style="height: 50px;" placeholder="Modelo">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="chasis" id="chasis"
                        style="height: 50px;" placeholder="Número de chasis">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="motor" id="motor"
                        style="height: 50px;" placeholder="Modelo de motor">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="cilindraje" id="cilindraje"
                        style="height: 50px;" placeholder="Cilindraje">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="carga" id="carga"
                        style="height: 50px;" placeholder="Capacidad de carga">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="pasajero" id="pasajero"
                        style="height: 50px;" placeholder="Capacidad de pasajeros">
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="placa" id="placa"
                        style="height: 50px;" placeholder="Placa">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectcombus" aria-label="Floating label select example" onchange="enviarSeleccion_combus()" required>
                            <option ></option>
                            <option value="1">Gasolina</option>
                            <option value="2">Diésel</option>
                            <option value="3">ACPM</option>
                        </select>
                        <script>
                            function enviarSeleccion_combus() {
                                var select = document.getElementById("floatingSelectcombus");
                                var idSeleccionado = select.options[select.selectedIndex].value;
                                // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                                document.getElementById("id_tp_combus").value = idSeleccionado;
                                // Puedes enviar el formulario aquí si es necesario
                            }
                        </script>
                        <input type="hidden" id="id_tp_combus" name="id_tp_combus">
                        <label for="floatingSelectcombus">Tipo de combustible</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <select class="form-select" id="floatingSelectCaja" aria-label="Floating label select example"
                        onchange="enviarSeleccion_caja()" required>
                        <option></option>
                        @foreach (var item in Model.ListaCaja)
                        {

                            <option value="@item.tipo_caja_cambios">@item.tipo_caja_cambios</option>
                        }
                    </select>
                    <script>
                        function enviarSeleccion_caja() {
                            var select = document.getElementById("floatingSelectCaja");
                            var idSeleccionado = select.options[select.selectedIndex].value;
                            // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                            document.getElementById("caja").value = idSeleccionado;
                            // Puedes enviar el formulario aquí si es necesario
                        }
                    </script>
                    <input type="hidden" id="caja" name="caja">
                    <label for="floatingSelectCaja">Caja de Cambio</label>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <select class="form-select" id="floatingSelectdireccion" aria-label="Floating label select example"
                        onchange="enviarSeleccion_direccion()" required>
                        <option></option>
                        @foreach (var item in Model.ListatipoDerrecion)
                        {
                            <option value="@item.tipo_direccion">@item.tipo_direccion</option>
                        }
                    </select>
                    <script>
                        function enviarSeleccion_direccion() {
                            var select = document.getElementById("floatingSelectdireccion");
                            var idSeleccionado = select.options[select.selectedIndex].value;
                            // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                            document.getElementById("direccion").value = idSeleccionado;
                            // Puedes enviar el formulario aquí si es necesario
                        }
                    </script>
                    <input type="hidden" id="direccion" name="direccion">
                    <label for="floatingSelectdireccion">Tipo Direccion</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectColor" aria-label="Floating label select example"
                            onchange="enviarSeleccion_color()" required>
                            <option></option>
                            <option value="Blanco">Blanco</option>
                            <option value="Negro">Negro</option>
                            <option value="Gris">Gris</option>
                            <option value="Plateado">Plateado</option>
                            <option value="Azul">Azul</option>
                            <option value="Rojo">Rojo</option>
                            <option value="Verde">Verde</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Naranja">Naranja</option>
                            <option value="Marrón">Marrón</option>
                            <option value="Beige">Beige</option>
                        </select>
                        <script>
                            function enviarSeleccion_color() {
                                var select = document.getElementById("floatingSelectColor");
                                var idSeleccionado = select.options[select.selectedIndex].value;
                                // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                                document.getElementById("color").value = idSeleccionado;
                                // Puedes enviar el formulario aquí si es necesario
                            }
                        </script>
                        <input type="hidden" id="color" name="color">
                        <label for="floatingSelectColor">Color</label>
                    </div>
                </div>
            </div>
        </div>

 
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
    </div>
</form>