@model Obj_View_Vehiculo
@{
    ViewData["Title"] = "RegistroVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="RegistroVehiculo" asp-asp-controller="RegistroVehiculo">
    <div class="container text-center">
        <h1>Registro de vehículos</h1><br>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectCategoria"
                            aria-label="Floating label select example" onchange="enviarSeleccion_categoria()" required>
                            <option></option>
                            @foreach (var item in Model.ListaCategorias)
                            {

                                <option value="@item.id_categoria">@item.tipo_vehiculo</option>
                            }
                        </select>
                        <script>
                            function enviarSeleccion_categoria() {
                                var select = document.getElementById("floatingSelectCategoria");
                                var idSeleccionado = select.options[select.selectedIndex].value;
                                // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                                document.getElementById("id_categoria").value = idSeleccionado;
                                // Puedes enviar el formulario aquí si es necesario
                            }
                        </script>
                        <input type="hidden" id="id_categoria" name="id_categoria">
                        <label for="floatingSelectCategoria">Categoría</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectMarca" aria-label="Floating label select example"
                            onchange="enviarSeleccion_marca()" required>
                            <option></option>
                            @foreach (var item in Model.ListaMarca)
                            {

                                <option value="@item.id_marca">@item.nombre_marca</option>
                            }
                        </select>
                        <script>
                            function enviarSeleccion_marca() {
                                var select = document.getElementById("floatingSelectMarca");
                                var idSeleccionado = select.options[select.selectedIndex].value;
                                // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                                document.getElementById("id_marca").value = idSeleccionado;
                                // Puedes enviar el formulario aquí si es necesario
                            }
                        </script>
                        <input type="hidden" id="id_marca" name="id_marca">
                        <label for="floatingSelectMarca">Marca</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="modelo" id="modelo"
                        style="height: 50px;" placeholder="Modelo">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="chasis" id="chasis"
                        style="height: 50px;" placeholder="Número de chasis">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="motor" id="motor"
                        style="height: 50px;" placeholder="Modelo de motor">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="cilindraje" id="cilindraje"
                        style="height: 50px;" placeholder="Cilindraje">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="carga" id="carga"
                        style="height: 50px;" placeholder="Capacidad de carga">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="pasajero" id="pasajero"
                        style="height: 50px;" placeholder="Capacidad de pasajeros">
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control form-control-lg" name="placa" id="placa"
                        style="height: 50px;" placeholder="Placa">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectcombus" aria-label="Floating label select example" onchange="enviarSeleccion_combus()" required>
                            <option ></option>
                            <option value="1">Gasolina</option>
                            <option value="2">Diésel</option>
                            <option value="3">ACPM</option>
                        </select>
                        <script>
                            function enviarSeleccion_combus() {
                                var select = document.getElementById("floatingSelectcombus");
                                var idSeleccionado = select.options[select.selectedIndex].value;
                                // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                                document.getElementById("id_tp_combus").value = idSeleccionado;
                                // Puedes enviar el formulario aquí si es necesario
                            }
                        </script>
                        <input type="hidden" id="id_tp_combus" name="id_tp_combus">
                        <label for="floatingSelectcombus">Tipo de combustible</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <select class="form-select" id="floatingSelectCaja" aria-label="Floating label select example"
                        onchange="enviarSeleccion_caja()" required>
                        <option></option>
                        @foreach (var item in Model.ListaCaja)
                        {

                            <option value="@item.tipo_caja_cambios">@item.tipo_caja_cambios</option>
                        }
                    </select>
                    <script>
                        function enviarSeleccion_caja() {
                            var select = document.getElementById("floatingSelectCaja");
                            var idSeleccionado = select.options[select.selectedIndex].value;
                            // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                            document.getElementById("caja").value = idSeleccionado;
                            // Puedes enviar el formulario aquí si es necesario
                        }
                    </script>
                    <input type="hidden" id="caja" name="caja">
                    <label for="floatingSelectCaja">Caja de Cambio</label>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <select class="form-select" id="floatingSelectdireccion" aria-label="Floating label select example"
                        onchange="enviarSeleccion_direccion()" required>
                        <option></option>
                        @foreach (var item in Model.ListatipoDerrecion)
                        {
                            <option value="@item.tipo_direccion">@item.tipo_direccion</option>
                        }
                    </select>
                    <script>
                        function enviarSeleccion_direccion() {
                            var select = document.getElementById("floatingSelectdireccion");
                            var idSeleccionado = select.options[select.selectedIndex].value;
                            // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                            document.getElementById("direccion").value = idSeleccionado;
                            // Puedes enviar el formulario aquí si es necesario
                        }
                    </script>
                    <input type="hidden" id="direccion" name="direccion">
                    <label for="floatingSelectdireccion">Tipo Direccion</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectColor" aria-label="Floating label select example"
                            onchange="enviarSeleccion_color()" required>
                            <option ></option>
                            <option value="Blanco">Blanco</option>
                            <option value="Negro">Negro</option>
                            <option value="Gris">Gris</option>
                            <option value="Plateado">Plateado</option>
                            <option value="Azul">Azul</option>
                            <option value="Rojo">Rojo</option>
                            <option value="Verde">Verde</option>
                            <option value="Amarillo">Amarillo</option>
                            <option value="Naranja">Naranja</option>
                            <option value="Marrón">Marrón</option>
                            <option value="Beige">Beige</option>
                        </select>
                        <script>
                            function enviarSeleccion_color() {
                                var select = document.getElementById("floatingSelectColor");
                                var idSeleccionado = select.options[select.selectedIndex].value;
                                // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
                                document.getElementById("color").value = idSeleccionado;
                                // Puedes enviar el formulario aquí si es necesario
                            }
                        </script>
                        <input type="hidden" id="color" name="color">
                        <label for="floatingSelectColor">Color</label>
                    </div>
                </div>
            </div>
        </div>

        ---------------------

        <div class="row justify-content-center">
            <h2>Datos legales</h2>
            <h4 style="text-align: left;">Tipo de documento</h4>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            style="zoom: 1.5;">
                        <label class="form-check-label" for="flexCheckDefault" style="font-size: 20px;">
                            SOAT
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-2">
                    <input type="number" class="form-control form-control-lg" id="input9" style="height: 50px;"
                        placeholder="Número de documento">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <label for="fechaActual3">Fecha de documento</label>
                    <input type="date" id="fechaActual3" class="form-control">
                    <script>
                        var inputFecha3 = document.getElementById('fechaActual3');
                        var fecha3 = new Date().toISOString().slice(0, 10);
                        inputFecha3.value = fecha3;
                    </script>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked
                            style="zoom: 1.5;">
                        <label class="form-check-label" for="flexCheckChecked" style="font-size: 20px;">
                            Revisión técnico-mecánica
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="number" class="form-control form-control-lg" id="input10" style="height: 50px;"
                        placeholder="Número de documento">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <label for="fechaActual4">Fecha de documento</label>
                    <input type="date" id="fechaActual4" class="form-control">
                    <script>
                        var inputFecha4 = document.getElementById('fechaActual4');
                        var fecha4 = new Date().toISOString().slice(0, 10);
                        inputFecha4.value = fecha4;
                    </script>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked
                            style="zoom: 1.5;">
                        <label class="form-check-label" for="flexCheckChecked2" style="font-size: 20px;">
                            Seguro todo riesgo
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="number" class="form-control form-control-lg" id="input11" style="height: 50px;"
                        placeholder="Número de documento">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <label for="fechaActual5">Fecha de documento</label>
                    <input type="date" id="fechaActual5" class="form-control">
                    <script>
                        var inputFecha5 = document.getElementById('fechaActual5');
                        var fecha5 = new Date().toISOString().slice(0, 10);
                        inputFecha5.value = fecha5;
                    </script>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked
                            style="zoom: 1.5;">
                        <label class="form-check-label" for="flexCheckChecked3" style="font-size: 20px;">
                            Seguro de asistencia en viajes
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="number" class="form-control form-control-lg" id="input12" style="height: 50px;"
                        placeholder="Número de documento">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <label for="fechaActual6">Fecha de documento</label>
                    <input type="date" id="fechaActual6" class="form-control">
                    <script>
                        var inputFecha6 = document.getElementById('fechaActual6');
                        var fecha6 = new Date().toISOString().slice(0, 10);
                        inputFecha6.value = fecha6;
                    </script>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked
                            style="zoom: 1.5;">
                        <label class="form-check-label" for="flexCheckChecked4" style="font-size: 20px;">
                            Seguro de accidentes personales para ocupantes
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <input type="number" class="form-control form-control-lg" id="input13" style="height: 50px;"
                        placeholder="Número de documento">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb-4">
                    <label for="fechaActual7">Fecha de documento</label>
                    <input type="date" id="fechaActual7" class="form-control">
                    <script>
                        var inputFecha7 = document.getElementById('fechaActual7');
                        var fecha7 = new Date().toISOString().slice(0, 10);
                        inputFecha7.value = fecha7;
                    </script>
                </div>
            </div>
        </div>
        <script>
            // Función para habilitar o deshabilitar campos de texto y fecha
            function toggleFields1() {
                var checkbox = document.getElementById('flexCheckDefault');
                var input7 = document.getElementById('input9');
                var fechaActual3 = document.getElementById('fechaActual3');

                if (checkbox.checked) {
                    input7.disabled = false;
                    fechaActual3.disabled = false;
                } else {
                    input7.disabled = true;
                    fechaActual3.disabled = true;
                }
            }

            function toggleFields2() {
                var checkbox = document.getElementById('flexCheckChecked');
                var input8 = document.getElementById('input10');
                var fechaActual4 = document.getElementById('fechaActual4');

                if (checkbox.checked) {
                    input8.disabled = false;
                    fechaActual4.disabled = false;
                } else {
                    input8.disabled = true;
                    fechaActual4.disabled = true;
                }
            }

            function toggleFields3() {
                var checkbox = document.getElementById('flexCheckChecked2');
                var input9 = document.getElementById('input11');
                var fechaActual5 = document.getElementById('fechaActual5');

                if (checkbox.checked) {
                    input9.disabled = false;
                    fechaActual5.disabled = false;
                } else {
                    input9.disabled = true;
                    fechaActual5.disabled = true;
                }
            }

            function toggleFields4() {
                var checkbox = document.getElementById('flexCheckChecked3');
                var input10 = document.getElementById('input12');
                var fechaActual6 = document.getElementById('fechaActual6');

                if (checkbox.checked) {
                    input10.disabled = false;
                    fechaActual6.disabled = false;
                } else {
                    input10.disabled = true;
                    fechaActual6.disabled = true;
                }
            }

            function toggleFields5() {
                var checkbox = document.getElementById('flexCheckChecked4');
                var input11 = document.getElementById('input13');
                var fechaActual7 = document.getElementById('fechaActual7');

                if (checkbox.checked) {
                    input11.disabled = false;
                    fechaActual7.disabled = false;
                } else {
                    input11.disabled = true;
                    fechaActual7.disabled = true;
                }
            }

            // Escuchar los cambios en los checkboxes y llamar a las funciones correspondientes
            document.getElementById('flexCheckDefault').addEventListener('change', toggleFields1);
            document.getElementById('flexCheckChecked').addEventListener('change', toggleFields2);
            document.getElementById('flexCheckChecked2').addEventListener('change', toggleFields3);
            document.getElementById('flexCheckChecked3').addEventListener('change', toggleFields4);
            document.getElementById('flexCheckChecked4').addEventListener('change', toggleFields5);

            // Deshabilitar campos al cargar la página
            toggleFields1();
            toggleFields2();
            toggleFields3();
            toggleFields4();
            toggleFields5();
        </script>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
    </div>
</form>