@model Obj_View_Vehiculo
@{
    ViewData["Title"] = "EntregaVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<form asp-action="EntregaVehiculo" asp-controller="EntregaVehiculo" method="post">

<div id="entregaVehiculo">
    <h1 id="titulo">Información de entrega del vehículo</h1><br><br>
    <div class="row row-divider">
        <div class="col-md-4">
            <div class="form-group mb-5">
                <input type="text" class="form-control form-control-lg" id="placa" style="height: 50px;"
                    placeholder="Placa del vehículo">
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-lg btn-primary" type="button" id="buscarBtn">Buscar</button>
        </div>
    </div>
    <table class="table table-hover" id="resultados">
        <thead>
            <tr>
                <th scope="col">Placa</th>
                <th scope="col">Modelo</th>
                <th scope="col">Numero Chasis</th>
                <th scope="col">Modelo Motor</th>
                <th scope="col">Cilindraje</th>
                <th scope="col">Categoria</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#buscarBtn').click(function (e) {
                e.preventDefault(); // Previene la acción predeterminada del botón
                var placa = $('#placa').val();
                console.log("Placa buscada:", placa); // Depuración
                $.ajax({
                    url: '@Url.Action("BuscarVehiculo", "EntregaVehiculo")',
                    type: 'GET',
                    data: { placa: placa },
                    success: function (response) {
                        console.log("Respuesta del servidor:", response); // Depuración
                        var tbody = $('#resultados tbody');
                        tbody.empty();
                        if (response.success) {
                            var vehiculo = response.data;
                            tbody.append('<tr><td>' + vehiculo.num_placa + '</td><td>' + vehiculo.modelo + '</td><td>' + vehiculo.num_chasis + '</td><td>' + vehiculo.modelo_motor + '</td><td>' + vehiculo.cilindraje + '</td><td>' + vehiculo.tipo_vehiculo + '</td></tr>');
                        } else {
                            tbody.append('<tr><td colspan="6">' + response.message + '</td></tr>');
                        }
                    },
                    error: function (error) {
                        console.log("Error en la solicitud AJAX:", error); // Depuración
                    }
                });
            });
        });
    </script>

    <div class="row justify-content-center align-items-center">
        <h4 id="titulo2" style="text-align: center;">Datos del vehículo</h4>
        <div id="fecha" class="col-md-4">
            <input type="date" id="fechaActual2" name ="fechaActual2" class="form-control" required>
    
        </div>

        <div id="hora" class="col-md-4">
            <input type="time" id="horaActual2" name ="horaActual2" class="form-control" required>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var timeInput = document.getElementById('horaActual2');

                    timeInput.addEventListener('input', function () {
                        var value = this.value;
                        var hour = value.split(':')[0];

                        // Si el valor tiene minutos, resetear a la hora sin minutos
                        if (value.includes(':')) {
                            this.value = hour + ':00';
                        }
                    });

                });

            </script>
        </div>

        <div class="col-md-4">
            <div class="form-group mb-5">
                <div class="form-floating">
                    <select class="form-select" id="floatingUbicacion" aria-label="Floating label select example" onchange="enviarSeleccion_Ubicacion()" required>
                        <option></option>
                        @foreach (var item in Model.ListatipoUbicacion)
                        {
                            <option value="@item.id_ubicacion" required>@item.Ubicacion_ini</option>
                        }
                    </select>
                    <label for="floatingUbicacion">Ubicación</label>
                    <input type="hidden" name="ubicacion" id="ubicacion">
                </div>
            </div>
        </div>
    </div>

    <div id="costos" class="row justify-content-center align-items-center">
        <h4 id="titulo3" style="text-align: center;">Costo adicional</h4>
        <div class="col-md-4">
            <div class="form-group mb-5">
                <label for="listaDaños">Selecciona los daños:</label>
                <ul id="listaDaños" class="list-group">
                    @foreach (var item in Model.Lista_danio_Vehiculos)
                    {
                        <li class="list-group-item"><input type="checkbox" value="@item.valor_danio"> @item.danio
                        </li>
                    }
                </ul>
                <!-- Mostrar el valor total aquí -->
                <div id="contenedorValorTotal" class="container"></div>
            </div>
        </div>
    </div>

    <script>
        // Función para calcular el costo adicional y mostrar el valor total
        function calcularCostoAdicional() {
            var checkboxes = document.querySelectorAll("#listaDaños input[type='checkbox']");
            var costoAdicional = 0;

            // Calcula el costo adicional según los daños seleccionados
            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    costoAdicional += parseInt(checkbox.value);
                }
            });

            // Muestra el valor total debajo de la lista de daños
            document.getElementById("contenedorValorTotal").innerHTML = "<p>Valor total: $" + (costoAdicional) + "</p>";
        }

        // Agrega evento change a los checkboxes para llamar a calcularCostoAdicional cuando cambien
        var checkboxes = document.querySelectorAll("#listaDaños input[type='checkbox']");
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener("change", calcularCostoAdicional);
        });
    </script>


    <div id="boton-entrega" class="d-flex justify-content-center">
        <button class="btn btn-lg btn-primary" type="submit">Guardar</button>
    </div>

    <script>
        function enviarSeleccion_Ubicacion() {
            var select = document.getElementById("floatingUbicacion");
            var idSeleccionado = select.options[select.selectedIndex].value;
            // Envía el idSeleccionado a través de una solicitud AJAX o actualiza un campo oculto en el formulario
            document.getElementById("ubicacion").value = idSeleccionado;
            
            // Puedes enviar el formulario aquí si es necesario
        }
    </script>
</div>
</form>